# ----------------------------
# General
# ----------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.idea/
.atom/
.history
.svn/
.vscode/        # ※必要ならコメントアウト
.migrate_working_dir/

# ----------------------------
# Flutter/Dart
# ----------------------------
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.build/
**/doc/api/
**/ios/Flutter/.last_build_id
/build/

# ----------------------------
# Firebase (機密情報対策)
# ----------------------------
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# 環境変数ファイル (dotenv等)
.env
.env.*

# ----------------------------
# Symbolication / Obfuscation
# ----------------------------
app.*.symbols
app.*.map.json

# ----------------------------
# Android Studio / IntelliJ
# ----------------------------
*.iml
*.ipr
*.iws
/android/app/debug
/android/app/profile
/android/app/release

# ----------------------------
# macOS
# ----------------------------
.DS_Store

# ----------------------------
# VS Code (任意でコメント解除)
# ----------------------------
# .vscode/
