<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091850231095-q3pbs7j79gkt2khee357lcrt1bkh4uh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091850231095-q3pbs7j79gkt2khee357lcrt1bkh4uh6</string>
	<key>API_KEY</key>
	<string>AIzaSyDW9uapu2I66qB7ZJhXrsS6A_e9_7QBgjw</string>
	<key>GCM_SENDER_ID</key>
	<string>1091850231095</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasksTodoApp</string>
	<key>PROJECT_ID</key>
	<string>tasks-todo-project</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-todo-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091850231095:ios:a9ba4634443a6a40880eb2</string>
</dict>
</plist>